Repository brpaz/raindrop-images-dl: changes, and which lefthook commands are due for each by the changed paths.
All: lint-go, lint-docker, format

lint-go:
  run: golangci-lint run --new-from-rev HEAD --fix

lint-docker:
  run: task lint-docker

format:
  run: gofumpt -l -w {all_files}

chore: updates
  .commitlint.json
  .direnv/bin/nix-direnv-reload
  .gitignore
  .goreleaser.yaml
  Taskfile.yml
  cmd/app.go
  cmd/app_test.go
  cmd/download.go
  cmd/download_test.go
  cmd/root.go
  cmd/root_test.go
  cmd/version.go
  cmd/version_test.go
  flake.lock
  flake.nix
  go.mod
  go.sum
  internal/downloader/infofile.go
  internal/downloader/service.go
  internal/downloader/service_test.go
  internal/downloader/utils.go
  internal/sdk/raindrop/client.go
  internal/sdk/raindrop/client_test.go
  internal/sdk/raindrop/doc.go
  internal/sdk/raindrop/testdata/get_collection_response_success.json
  internal/sdk/raindrop/testdata/get_raindrops_response_success.json
  internal/sdk/raindrop/types.go
  internal/sdk/raindrop/types_test.go
  internal/version/version.go
  main.go
Due: lint-go, format

feat: updates
  .commitlintrc.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-changelog.yml
  .gitignore
  .goreleaser.yaml
  .hadolint.yaml
  CHANGELOG.md
  Dockerfile
  Taskfile.yml
  cmd/download_test.go
Due: lint-go, lint-docker, format

chore: updates
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

chore: updates
  .github/workflows/ci.yml
Due: none

chore: updates
  .github/workflows/ci.yml
  README.md
Due: none

chore: updates
  .github/workflows/ci.yml
  .goreleaser.yaml
  README.md
Due: none

chore: updates
  .envrc
  CONTRIBUTING.md
  README.md
  Taskfile.yml
  flake.nix
Due: none

chore: updates
  .devcontainer/devcontainer.json
  README.md
Due: none

feat: first release (#5)
  .devcontainer/devcontainer.json
  .envrc
  .github/workflows/ci.yml
  .goreleaser.yaml
  CONTRIBUTING.md
  LICENSE
  README.md
  Taskfile.yml
  flake.nix
Due: none

ci(github-actions): fix changelog workflow
  .github/workflows/update-changelog.yml
  README.md
Due: none

ci(github-actions): fix changelog workflow (#6)
  .github/workflows/update-changelog.yml
  README.md
Due: none

chore(release): release: v0.1.1 [skip-ci]
  CHANGELOG.md
Due: none

feat: updates
  .envrc
  .github/workflows/update-changelog.yml
  .gitignore
  CONTRIBUTING.md
  Taskfile.yml
  cmd/download.go
  flake.nix
  internal/downloader/service.go
  internal/downloader/service_test.go
Due: lint-go, format

chore: update flake.nix
  .envrc
  .golangci.yml
  .goreleaser.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  Dockerfile
  Taskfile.yml
  cmd/app_test.go
  cmd/main.go
  flake.nix
  internal/app/README.md
  internal/app/app.go
  internal/app/app_test.go
  internal/cmd/README.md
  internal/cmd/download.go
  internal/cmd/download_test.go
  internal/cmd/root.go
  internal/cmd/root_test.go
  internal/cmd/version.go
  internal/cmd/version_test.go
  internal/downloader/README.md
  internal/sdk/raindrop/README.md
  internal/version/README.md
  main.go
Due: lint-go, lint-docker, format

chore: updates (#7)
  .envrc
  .github/workflows/update-changelog.yml
  .gitignore
  .golangci.yml
  .goreleaser.yaml
  .vscode/settings.json
  CONTRIBUTING.md
  Dockerfile
  Taskfile.yml
  cmd/app_test.go
  cmd/download.go
  cmd/main.go
  flake.nix
  internal/app/README.md
  internal/app/app.go
  internal/app/app_test.go
  internal/cmd/README.md
  internal/cmd/download.go
  internal/cmd/download_test.go
  internal/cmd/root.go
  internal/cmd/root_test.go
  internal/cmd/version.go
  internal/cmd/version_test.go
  internal/downloader/README.md
  internal/downloader/service.go
  internal/downloader/service_test.go
  internal/sdk/raindrop/README.md
  internal/version/README.md
  main.go
Due: lint-go, lint-docker, format

Path conditions:
  lint-go: any of: **/*.go
  lint-docker: any of: Dockerfile
  format: any of: **/*.go
